<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This web application was created by Neel Chavan, It uses data from 'openweather.com' and 'mapbox.com'.</p><br>
        <img class="potrait" src="/images/neel.jpg">    
    </div>
    {{>footer}}

</body>
</html>