<!DOCTYPE html>
<html lang="en">
<head>  
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/images/weather.png">
</head>
<body>

    <div class="main-content">

        {{>header}}

        <p>If you need any help you can send me an email.</p>
        <a class="email" href="https://www.google.com/gmail/">Send Message</a>
    </div>
    
    {{>footer}}   
</body>
</html>