body {
    color: black;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: rgb(235, 191, 46);
}

.main-content{
    flex-grow: 1;
}

footer {
    color: black;    
    border: 1px solid black;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 25px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
    color: black;
    margin-right: 16px;
    text-decoration: none;
}

.potrait{
    width: 250px;
}

.about-paragraph{
    color: black;
}

input {
    border: 1px solid black;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid black;
    background: black;
    color: white;
    padding: 8px;
}

